html, body {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

svg {
    margin: 0 auto;
    display: block;
}

div {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}




.legend-container {
    height: 900;
    width: 600;
    margin: 0 auto;
}


#tooltip {
    position: absolute;
    color: white;
    background-color: black;
    padding: 3px;
    border-radius: 5px;
    text-align: left;
}